/Diccionario_Semaforos/nbproject/private/
/Diccionario_Semaforos/build/
/Diccionario_Cerrojos/nbproject/private/
/Diccionario_Cerrojos/build/
/Pruebas_Socket/nbproject/private/
/Pruebas_Socket_Servidor/nbproject/private/
/Pruebas_Socket/build/
/Pruebas_Socket_Servidor/build/
/Pruebas_Socket/dist/
/Prueba_Socket_KKClient/nbproject/private/
/Prueba_Socket_KKServer/nbproject/private/
/Prueba_Socket_KKServer/build/
/Prueba_Socket_KKClient/build/
/Prueba_Socket_Diccionario/nbproject/private/
/Prueba_Socket_Client/nbproject/private/
/Prueba_Socket_Diccionario/build/
/Prueba_Socket_Client/build/
/Prueba_Socket_Client/dist/
/Cristonary_Servidor/nbproject/private/
/Cristonary_Cliente/nbproject/private/
/Cristonary_Servidor/build/
/Cristonary_Cliente/build/
/Cristonary_Servidor/dist/
/Cristonary_Cliente/dist/
